<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="utf-8"/>
  <title>Вход</title>
 </head>
 <body>
 <table align="center">
  <tr>
 <td>
  <form class="content" action="/signin" method="POST">
  <p>Email: <input type="email" name="email" required="required" autofocus="autofocus" /></p>
  <p>Пароль: <input type="password" name="password" required="required" /></p>
  <p><button type="submit">Войти</button></p>
   <p><button type="submit" formaction="/registration">Регистрация</button></p>
 </form>
 </td>
  </tr>
 </table>
 <p th:text="${result}"></p>
 </body>
</html>