<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="index-style.css"/>
		<title>The kingdom online</title>
	</head>
	<body>
		<div class="main-container">
			<header>
				<h1 align="center"><b>Добро пожаловать в Королевство онлайн!</b></h1>
			</header>
			<div class="content">
				<table class="content-table" align="center" cellspacing="30%" cellpadding="5%">
					<tr>
						<td>Первый и единственный в России!</td>
						<td>Уже <span th:text="${score_users}"></span> пользователей!</td>
						<td>Учись с удовольствием!</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<form action="/signin" method="post">
								<input type="submit" value="Войти"/>
							</form>
						</td>
					</tr>
				</table>
			</div>
			<footer>
				
			</footer>
		</div>
	</body>
</html>
