<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="../stylesheets/index-style.css"/"/>
		<title>The kingdom online</title>
	</head>
	<body>
		<div class="main-container">
			<header>
				<h1 class="header-text" align="center" ><img src="../images/index-header-text.png" alt="Добро пожаловать в Королевство Онлайн" width="80%"/></h1>
			</header>
			<div class="content">
				<table class="content-table" align="center" cellspacing="100%" width="80%" style="text-align:center;">
					<tr>
						<td>Первый и единственный образовательный интернет  портал  в России для учащихся начальных классов!</td>
						<td>В нашем сервисе уже зарегистрировано более <span th:text="${score_users}"><b>1000</b></span> пользователей!</td>
						<td>Мы реализуем совершенно новый подход к обучению, прививая интерес и тягу к знаниям благодаря красочным и захватывающих внимание обучающего историям!</td>
					</tr>
				</table>
                <p align="center" ><a href="authorization.html" th:href="${status}" >
								<img src="../images/start-game-button-clear.png" width="30%" />
                    </a></p>
			</div>
		</div>
		
        <footer>
				<p align="center">The Kingdom Online Corp 2018</p>
			</footer>
	</body>
</html>
